body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
    background: linear-gradient(135deg, #1a1f36, #2e1a4f); /* DARK BUT NOT BLACK */
    display: flex;
    justify-content: center;
    align-items: center;
}

.continer {
    background: #ffffff;
    width: 100%;
    max-width: 380px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.title {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 6px;
    font-size: 14px;
    color: #555;
}

.input {
    padding: 12px;
    margin-bottom: 18px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.btn {
    display: block;
    width: 50%;
    margin: 20px auto;
    padding: 12px;
    background: #4f46e5;
    color: #fff;
    border-radius: 8px;
    font-size: 15px;
}

.text {
    margin-top: 18px;
    text-align: center;
    font-size: 14px;
    color: #555;
}

.link {
    color: #4f46e5;
    text-decoration: none;
    font-weight: bold;
}
